*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


canvas{
    background:white;
    margin: 0 auto;
    overflow: scroll;
}

.generate{
    cursor: pointer;
    outline: none;
    border: none;
    position: relative;
    top: -100px;
    display: block;
    margin: 0 auto;
    padding:20px 30px;
    border-radius: 50px;
    background: brown;
    color: white;
    font-size: 20px;
    overflow: hidden;
}
