*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    position:absolute;
    background:white;
}

.generate{
    cursor: pointer;
    outline: none;
    border: none;
    position:absolute;
    bottom:5%;
    z-index:10;
    left:23.5em;
    transform:translate(-50%,0);
    padding:20px 30px;
    border-radius: 50px;
    background: brown;
    color: white;
    font-size: 20px;
    width: 300px;
    overflow: hidden;
}
